[submodule "ext/core"]
	path = ext/core
	url = https://github.com/olive-editor/core
[submodule "ext/KDDockWidgets"]
	path = ext/KDDockWidgets
	url = https://github.com/olive-editor/KDDockWidgets.git
[submodule "OpenColorIO"]
	path = OpenColorIO
	url = https://github.com/AcademySoftwareFoundation/OpenColorIO.git
[submodule "openexr"]
	path = openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "Imath"]
	path = Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
